<app-notification
  *ngIf="notificacionVisible"
  [message]="notificacionMensaje"
  (closeNotification)="closeNotification()"
></app-notification>

<div class="table-widget">
			<span class="caption-container">
				<span class="table-title">
					<fa-icon [icon]="faHomeAlt" (click)="toInicio()"></fa-icon>
					Inicio
				</span>
				<span class="table-row-count"></span>
			</span>
  <div class="table-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header">
            <h4 class="card-title"> Lista de comprobantes </h4>
            <p class="card-category"> Consulte el listado de comprobantes</p>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
              <div class="form-group">
                <label for="empresaSelect">Buscar por empresa </label>
                <select class="form-control" id="empresaSelect" [(ngModel)]="empresa">
                  <option value="Todos">Todos los Comprobantes</option>
                  <option value="2">Importadora Cumpleaños</option>
                  <option value="3">Palacios Naranjo Corsino</option>
                  <option value="4">Importadora Eduardo Palacios Naranjo</option>
                  <option value="5">Inmosur-Pc Cia ltda</option>
                </select>
                <button class="btn btn-success" *ngIf="!loading" (click)="listarComprobantes()" >
                  <fa-icon [icon]="faSearch"></fa-icon> </button>
              </div>
              <div class="form-group">
                <label for="comprobanteSelect">Buscar por tipo Comprobante </label>
                <select class="form-control" id="comprobanteSelect" [(ngModel)]="searchDoc" (change)="searchComprobantesTipo()">
                  <option value=""></option>
                  <option value="FAC">Factura</option>
                  <option value="RET">Retencion</option>
                  <option value="NCCL">Nota de Credito</option>
                  <option value="GUI">Guias</option>
                </select>

                <label for="estadoSelect">Buscar por Estado </label>
                <select class="form-control" id="estadoSelect" [(ngModel)]="searchEst" (change)="searchComprobantesEstado()">
                  <option value=""></option>
                  <option value="Autorizado">Autorizado</option>
                  <option value="Enviado">Enviado</option>
                  <option value="Recibido">Recibido</option>
                  <option value="Devuelto">Devuelto</option>
                </select>
              </div>

              <div class="form-group">
                <label for="searchText">Buscar comprobante</label>
                <input type="text" class="form-control" id="searchText" [(ngModel)]="searchText" (input)="searchComprobantes()" placeholder="Buscar Comprobante">
              </div>
            </div>
            <h2>Comprobantes Totales: </h2>
            <p>{{totalComprobantes}}</p>
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>Tipo</th>
                <th>Empresa</th>
                <th>Comprobante</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Cco codigo</th>
                <th>Clave</th>
                <th>Correo electrónico</th>
                <th></th>
                <th></th>
                <th class="sticky-right"></th>
                </thead>
                <tbody>
                <tr class="view-modal" *ngFor="let comprobante of listaComprobantes" (click)="selectComprobante(comprobante)">
                  <td>
                    <div class="details-wraper">
                      <fa-icon [icon]="faFileInvoice"></fa-icon>
                      <span class="details-tipo__empresa">
                      {{comprobante?.xml_tipoComprobante}}
                    </span>
                    </div>
                  </td>
                  <td class="text-center">{{comprobante?.xmlf_empresa}}</td>
                  <td>{{comprobante?.xmlf_comprobante}}</td>
                  <td>{{comprobante?.cco_fecha | date:'dd/MM/yyyy'}}</td>
                  <td [appEstadoColor]="comprobante.estado">{{comprobante?.estado}}</td>
                  <td>{{comprobante?.cco_codigo}}</td>
                  <td>{{comprobante?.xmlf_clave}}</td>
                  <td style="word-break: break-word; white-space: pre-wrap;">{{comprobante?.cli_mail}}</td>
                  <td class="sticky-right">
                    <button class="btn btn--primary" (click)="verOpciones()">ver </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal lista de opciones y errores de comprobantes -->
<div class="modal-opciones" *ngIf="showModal && selectedComprobante">
  <div class="modal-content-opciones">
    <span>{{selectedComprobante.xmlf_comprobante}}</span>
    <div class="close" (click)="cerrarOpciones(); closeNotification()">
      <fa-icon [icon]="faWindowClose"></fa-icon>
    </div>
    <div class="content">
      <p>{{selectedComprobante.respuesta}}</p>
      <p>{{pAutorizacion}}</p>
      <p>{{pVerificar}}</p>
      <ul class="icons">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDialogScrollable" data-popper-placement="top" title="Mostrar XML"
                (click)="mostrarXml(selectedComprobante)">
          <fa-icon [icon]="faFileCode"></fa-icon>
        </button>
        <button [disabled]="botonBloq" (click)="verAutorizacion(selectedComprobante)"><fa-icon [icon]="faLockOpen"></fa-icon></button>
        <button [disabled]="botonBloq" (click)="verificarComprobante(selectedComprobante)"><fa-icon [icon]="faCheck"></fa-icon></button>
      </ul>

    </div>
  </div>
</div>
<!-- fin de modal de opciones  -->

<!-- Modal Dialog Scrollable -->
<div class="modal fade" id="modalDialogScrollable" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">XML Generado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" contenteditable="true"  >
        <pre>{{xml}}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="guardarCambios(selectedComprobante)" data-bs-dismiss="modal">Reenviar Xml</button>
      </div>
    </div>
  </div>
</div><!-- End Modal Dialog Scrollable-->

<!-- loading --->
<div *ngIf="loading" class="loading-spinner">
  <div class="spinner-border text-info" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>


