<nav class="navbar">
  <div class="navbar__brand">
    <h1>Importadora Cumpleaños</h1>
  </div>
  <div class="navbar__list">
    <ul>
      <li *ngIf="!isLoggedIn"><button (click)="login()">Iniciar sesión</button> </li>
    </ul>
  </div>
  <div class="profile-logo dropdown" *ngIf="isLoggedIn">
    <button class="btn btn-outline-primary dropdown-toggle" role="button" data-bs-toggle="dropdown">
      {{nombre}}
      <fa-icon [icon]="faRightFromBracket"></fa-icon>
    </button>
    <ul class="dropdown-menu dropdown-menu">
      <li><a (click)="toComprobantes()" class="dropdown-item">Comprobantes</a></li>
      <li><a (click)="logout()" class="dropdown-item">Cerrar Sesión</a></li>
    </ul>
  </div>
</nav>
